<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div>
        <h2>Admin Login</h2>
    </div>
    <div>
        <p>Please enter your username and password.</p>
        <form action="/login" method="post">
            <table>
                <tr>
                    <td>
                        <label for="user-name">Username:</label>
                        <input type="text" name="username">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password:</label>
                        <input type="password" name="password">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button>Submit</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <p>dshxc</p>
</body>
</html>DOCTYPE